In [1]:
import pandas as pd
import numpy as np

In [2]:
location = "datasets/DC_Properties.csv"
df = pd.read_csv("datasets/DC_Properties.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head(10)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
5,5,3,2,Hot Water Rad,Y,1.0,10,5,1913.0,NaN,...,-77.039715,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
6,6,1,0,Warm Cool,Y,2.0,5,2,1917.0,1988.0,...,-77.041055,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
7,7,3,1,Hot Water Rad,Y,2.0,8,4,1906.0,2011.0,...,-77.040129,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
8,8,3,1,Warm Cool,Y,2.0,7,3,1908.0,2008.0,...,-77.039903,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
9,9,1,1,Hot Water Rad,Y,1.0,6,2,1908.0,1979.0,...,-77.040081,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW

In [4]:
dupe = df.duplicated()

In [8]:
df.loc[dupe]

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [9]:
df.tail()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [10]:
df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [11]:
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [14]:
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [15]:
df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [18]:
filename = "datasets/DC_Properties.csv"
df_missing = pd.read_csv(filename)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df_missing.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [37]:
nf = df[['HEAT','BATHRM','BEDRM','PRICE']]

In [38]:
nf.loc[nf['PRICE'] <= 100000 ]

                 HEAT  BATHRM  BEDRM     PRICE
20      Hot Water Rad       3      5   33232.0
25      Hot Water Rad       1      4   20000.0
289     Hot Water Rad       1      3   70000.0
433     Hot Water Rad       3      3    4500.0
602     Hot Water Rad       3      4  100000.0
638         Warm Cool       2      4   45000.0
800     Hot Water Rad       1      6   80000.0
909        Forced Air       5      6   95960.0
1001    Hot Water Rad       2      2   77000.0
1003        Warm Cool       1      2   99000.0
1008    Hot Water Rad       1      2   60858.0
1104    Hot Water Rad       1      3   50000.0
1156       Forced Air       2      3   89500.0
1160       Forced Air       2      4   77000.0
1162       Forced Air       2      3   87500.0
1181    Hot Water Rad       2      2   83000.0
1184    Hot Water Rad       1      2   60000.0
1186       Forced Air       2      3   30000.0
1275       Forced Air       2      2   75000.0
1567    Hot Water Rad       3      6   25000.0
1577       Forced Air       3      3   82351.0
1585       Forced Air       4      7   82351.0
1593    Hot Water Rad       1      2   45954.0
1649    Hot Water Rad       1      3   97000.0
1736       Forced Air       1      3   83000.0
1814    Hot Water Rad       4      4   65000.0
1837       Forced Air       1      3   80000.0
1871        Warm Cool       4      6   80000.0
1885    Hot Water Rad       2      4   50953.0
1916    Hot Water Rad       4      4   28000.0
...               ...     ...    ...       ...
157301      Warm Cool       1      1   85000.0
157302      Warm Cool       1      1   54000.0
157304      Warm Cool       1      1   37000.0
157314      Warm Cool       1      1   79000.0
157323      Warm Cool       1      1   50500.0
157329      Warm Cool       1      0   60000.0
157352     Forced Air       1      1   68206.0
157354     Forced Air       1      1   67501.0
157355     Forced Air       2      2   66135.0
157381        Ht Pump       1      0   77900.0
157396        Ht Pump       1      0   78720.0
157659        Ht Pump       1      1   94900.0
158088      Warm Cool       1      1   87000.0
158148      Warm Cool       1      1   45000.0
158153      Warm Cool       1      1   65000.0
158162      Warm Cool       1      1   64500.0
158165      Warm Cool       1      1   72500.0
158221     Forced Air       1      1   67501.0
158302      Warm Cool       1      2   97500.0
158304      Warm Cool       1      0   36000.0
158309      Warm Cool       1      0  100000.0
158311      Warm Cool       1      0   82000.0
158320      Warm Cool       1      1   82500.0
158329      Warm Cool       1      2   99500.0
158333      Warm Cool       2      2   96000.0
158411      Warm Cool       1      2   93500.0
158425      Warm Cool       2      2   89991.0
158488        Ht Pump       1      1   85000.0
158489        Ht Pump       1      1   99900.0
158844      Warm Cool       1      1   59000.0

[5912 rows x 4 columns]

In [42]:
nf.loc[nf['PRICE'] <= 100000 ]

                 HEAT  BATHRM  BEDRM     PRICE
20      Hot Water Rad       3      5   33232.0
25      Hot Water Rad       1      4   20000.0
289     Hot Water Rad       1      3   70000.0
433     Hot Water Rad       3      3    4500.0
602     Hot Water Rad       3      4  100000.0
638         Warm Cool       2      4   45000.0
800     Hot Water Rad       1      6   80000.0
909        Forced Air       5      6   95960.0
1001    Hot Water Rad       2      2   77000.0
1003        Warm Cool       1      2   99000.0
1008    Hot Water Rad       1      2   60858.0
1104    Hot Water Rad       1      3   50000.0
1156       Forced Air       2      3   89500.0
1160       Forced Air       2      4   77000.0
1162       Forced Air       2      3   87500.0
1181    Hot Water Rad       2      2   83000.0
1184    Hot Water Rad       1      2   60000.0
1186       Forced Air       2      3   30000.0
1275       Forced Air       2      2   75000.0
1567    Hot Water Rad       3      6   25000.0
1577       Forced Air       3      3   82351.0
1585       Forced Air       4      7   82351.0
1593    Hot Water Rad       1      2   45954.0
1649    Hot Water Rad       1      3   97000.0
1736       Forced Air       1      3   83000.0
1814    Hot Water Rad       4      4   65000.0
1837       Forced Air       1      3   80000.0
1871        Warm Cool       4      6   80000.0
1885    Hot Water Rad       2      4   50953.0
1916    Hot Water Rad       4      4   28000.0
...               ...     ...    ...       ...
157301      Warm Cool       1      1   85000.0
157302      Warm Cool       1      1   54000.0
157304      Warm Cool       1      1   37000.0
157314      Warm Cool       1      1   79000.0
157323      Warm Cool       1      1   50500.0
157329      Warm Cool       1      0   60000.0
157352     Forced Air       1      1   68206.0
157354     Forced Air       1      1   67501.0
157355     Forced Air       2      2   66135.0
157381        Ht Pump       1      0   77900.0
157396        Ht Pump       1      0   78720.0
157659        Ht Pump       1      1   94900.0
158088      Warm Cool       1      1   87000.0
158148      Warm Cool       1      1   45000.0
158153      Warm Cool       1      1   65000.0
158162      Warm Cool       1      1   64500.0
158165      Warm Cool       1      1   72500.0
158221     Forced Air       1      1   67501.0
158302      Warm Cool       1      2   97500.0
158304      Warm Cool       1      0   36000.0
158309      Warm Cool       1      0  100000.0
158311      Warm Cool       1      0   82000.0
158320      Warm Cool       1      1   82500.0
158329      Warm Cool       1      2   99500.0
158333      Warm Cool       2      2   96000.0
158411      Warm Cool       1      2   93500.0
158425      Warm Cool       2      2   89991.0
158488        Ht Pump       1      1   85000.0
158489        Ht Pump       1      1   99900.0
158844      Warm Cool       1      1   59000.0

[5912 rows x 4 columns]

In [44]:
df['PRICE'].groupby (df['BEDRM']).mean()

BEDRM
0     1.992876e+06
1     1.927088e+06
2     6.482021e+05
3     4.821091e+05
4     6.659285e+05
5     1.042489e+06
6     1.266913e+06
7     1.721509e+06
8     8.107116e+05
9     2.718745e+06
10    6.924450e+05
11    1.025980e+06
12    1.547980e+06
13    4.425000e+05
14    9.250000e+05
15    1.105000e+06
16             NaN
19             NaN
20    1.900000e+06
24             NaN
Name: PRICE, dtype: float64