In [2]:
import pandas as pd
import numpy as np

In [9]:
location = "datasets/DC_Properties.csv"
df = pd.read_csv("datasets/DC_Properties.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.head(10)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
5,5,3,2,Hot Water Rad,Y,1.0,10,5,1913.0,NaN,...,-77.039715,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
6,6,1,0,Warm Cool,Y,2.0,5,2,1917.0,1988.0,...,-77.041055,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
7,7,3,1,Hot Water Rad,Y,2.0,8,4,1906.0,2011.0,...,-77.040129,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
8,8,3,1,Warm Cool,Y,2.0,7,3,1908.0,2008.0,...,-77.039903,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
9,9,1,1,Hot Water Rad,Y,1.0,6,2,1908.0,1979.0,...,-77.040081,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW

In [24]:
dupe = df.duplicated()

In [12]:
df.loc[dupe]

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [28]:
df.tail(10)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158947,158947,2,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158948,158948,2,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158949,158949,1,1,Forced Air,Y,NaN,4,1,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158950,158950,3,0,Forced Air,Y,NaN,5,3,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158951,158951,3,1,Forced Air,Y,NaN,5,3,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [14]:
df.describe()

,Unnamed: 0,BATHRM,HF_BATHRM,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,STORIES,...,USECODE,LANDAREA,CMPLX_NUM,LIVING_GBA,ZIPCODE,LATITUDE,LONGITUDE,CENSUS_TRACT,X,Y
count,158957.000000,158957.000000,158957.000000,106696.000000,158957.000000,158957.000000,158686.000000,80928.000000,158957.000000,106652.000000,...,158957.000000,158957.000000,52261.000000,52261.000000,158956.000000,158956.000000,158956.000000,158956.000000,158720.000000,158720.000000
mean,79478.000000,1.810678,0.458237,1.198039,6.187736,2.732506,1941.987579,1998.243537,1963.718024,2.091793,...,14.252999,2473.282158,2371.544249,888.834542,20012.694563,38.914854,-77.016676,5348.216324,-77.016712,38.914846
std,45887.077707,0.976396,0.587571,0.596924,2.618165,1.358864,33.640234,16.575786,24.923150,2.933323,...,3.725736,5059.046023,1114.272364,420.185822,15.627084,0.031723,0.040938,3369.645953,0.040933,0.031682
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1754.000000,20.000000,1800.000000,0.000000,...,11.000000,0.000000,1001.000000,0.000000,20001.000000,38.819731,-77.113909,100.000000,-77.113135,38.820576
25%,39739.000000,1.000000,0.000000,1.000000,4.000000,2.000000,1918.000000,1985.000000,1954.000000,2.000000,...,11.000000,697.000000,1501.000000,616.000000,20007.000000,38.895425,-77.042892,2102.000000,-77.042894,38.895432
50%,79478.000000,2.000000,0.000000,1.000000,6.000000,3.000000,1937.000000,2004.000000,1963.000000,2.000000,...,13.000000,1649.000000,2265.000000,783.000000,20011.000000,38.915337,-77.019596,5201.000000,-77.019581,38.915229
75%,119217.000000,2.000000,1.000000,1.000000,7.000000,3.000000,1960.000000,2010.000000,1975.000000,2.000000,...,17.000000,3000.000000,2910.000000,1060.000000,20018.000000,38.936075,-76.988626,8302.000000,-76.988842,38.936077
max,158956.000000,14.000000,11.000000,6.000000,48.000000,24.000000,2019.000000,2019.000000,2018.000000,826.000000,...,117.000000,942632.000000,5621.000000,8553.000000,20392.000000,38.995540,-76.909758,11100.000000,-76.910511,38.993646

In [15]:
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [16]:
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [17]:
df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [18]:
filename = "datasets/DC_Properties.csv"
df_missing = pd.read_csv(filename)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df_missing.isnull().sum()

Unnamed: 0                 0
BATHRM                     0
HF_BATHRM                  0
HEAT                       0
AC                         0
NUM_UNITS              52261
ROOMS                      0
BEDRM                      0
AYB                      271
YR_RMDL                78029
EYB                        0
STORIES                52305
SALEDATE               26770
PRICE                  60741
QUALIFIED                  0
SALE_NUM                   0
GBA                    52261
BLDG_NUM                   0
STYLE                  52261
STRUCT                 52261
GRADE                  52261
CNDTN                  52261
EXTWALL                52261
ROOF                   52261
INTWALL                52261
KITCHENS               52262
FIREPLACES                 0
USECODE                    0
LANDAREA                   0
GIS_LAST_MOD_DTTM          0
SOURCE                     0
CMPLX_NUM             106696
LIVING_GBA            106696
FULLADDRESS            52917
CITY                   52906
STATE                  52906
ZIPCODE                    1
NATIONALGRID           52906
LATITUDE                   1
LONGITUDE                  1
ASSESSMENT_NBHD            1
ASSESSMENT_SUBNBHD     32551
CENSUS_TRACT               1
CENSUS_BLOCK           52906
WARD                       1
SQUARE                     0
X                        237
Y                        237
QUADRANT                 237
dtype: int64

In [72]:
nf = df[['HEAT','BATHRM','HF_BATHRM','BEDRM','ROOMS','LANDAREA','PRICE','STYLE','FULLADDRESS','WARD']]

In [73]:
nf.loc[nf['PRICE'] <= 50000 ]

,HEAT,BATHRM,HF_BATHRM,BEDRM,ROOMS,LANDAREA,PRICE,STYLE,FULLADDRESS,WARD
20,Hot Water Rad,3,1,5,14,2090,33232.0,3 Story,1441 Q STREET NW,Ward 2
25,Hot Water Rad,1,0,4,8,2090,20000.0,2 Story,1451 Q STREET NW,Ward 2
433,Hot Water Rad,3,0,3,11,1190,4500.0,3 Story,1739 U STREET NW,Ward 1
638,Warm Cool,2,0,4,9,1400,45000.0,3 Story,1509 T STREET NW,Ward 2
1104,Hot Water Rad,1,0,3,6,1248,50000.0,2 Story,2015 VERMONT AVENUE NW,Ward 1
1186,Forced Air,2,0,3,6,616,30000.0,2 Story,625 S STREET NW,Ward 6
1567,Hot Water Rad,3,0,6,11,1867,25000.0,2 Story,1628 5TH STREET NW,Ward 6
1593,Hot Water Rad,1,0,2,5,572,45954.0,2 Story,1212 KIRBY STREET NW,Ward 6
1916,Hot Water Rad,4,0,4,12,1986,28000.0,2 Story,609 Q STREET NW,Ward 6
2446,Hot Water Rad,2,0,4,10,1800,32000.0,3 Story,1321 T STREET NW,Ward 1
2681,Hot Water Rad,3,0,4,12,981,41000.0,3 Story,2029 O STREET NW,Ward 2
3293,Forced Air,2,0,4,7,1288,48000.0,2 Story,1220 CARROLLSBURG PLACE SW,Ward 6
3330,Hot Water Rad,2,1,4,9,1398,936.0,2 Story,615 P STREET NW,Ward 6
3839,Hot Water Rad,2,0,4,10,1488,44000.0,2 Story,49 BATES STREET NW,Ward 5
3849,Forced Air,1,1,2,6,1464,25300.0,2 Story,73 Q STREET SW,Ward 6
3855,Hot Water Rad,2,0,2,6,870,28000.0,2 Story,90 Q STREET SW,Ward 6
4199,Hot Water Rad,1,1,3,6,1360,1377.0,2 Story,1832 13TH STREET NW,Ward 1
4376,Hot Water Rad,1,0,3,6,1046,25000.0,2 Story,1003 V STREET NW,Ward 1
4436,Hot Water Rad,2,0,2,8,1537,40000.0,2 Story,120 O STREET SW,Ward 6
4507,Forced Air,3,0,4,10,869,23900.0,3 Story,1016 W STREET NW,Ward 1
4769,Hot Water Rad,1,0,3,6,1125,40000.0,2 Story,2220 12TH STREET NW,Ward 1
4888,Hot Water Rad,1,0,3,6,882,20000.0,2 Story,2250 12TH PLACE NW,Ward 1
4895,Forced Air,2,0,3,6,1100,25000.0,2 Story,2252 12TH STREET NW,Ward 1
5462,Hot Water Rad,2,0,3,7,1631,28628.0,3 Story,320 3RD STREET NE,Ward 6
5516,Hot Water Rad,2,1,7,15,2031,500.0,3 Story,48 1/2 NEW YORK AVENUE NW,Ward 6
5731,Wall Furnace,1,0,2,6,900,40000.0,2 Story,1425 3RD STREET NW,Ward 5
5827,Hot Water Rad,1,1,3,6,756,20000.0,2 Story,335 L STREET NE,Ward 6
6203,Hot Water Rad,1,0,1,5,942,33000.0,2 Story,1628 4TH STREET NW,Ward 5
6252,Hot Water Rad,1,1,3,6,1126,36000.0,2 Story,1704 NEW JERSEY AVENUE NW,Ward 6
6332,Hot Water Rad,1,0,5,6,1196,37000.0,2 Story,404 R STREET NW,Ward 5
...,...,...,...,...,...,...,...,...,...,...
153207,Warm Cool,1,0,0,3,606,48800.0,NaN,NaN,Ward 3
153233,Warm Cool,1,0,0,3,606,45000.0,NaN,NaN,Ward 3
153286,Ht Pump,1,0,1,3,177,50000.0,NaN,NaN,Ward 1
153470,Forced Air,1,0,0,2,470,1000.0,NaN,NaN,Ward 3
153613,Ht Pump,1,1,2,5,424,20900.0,NaN,NaN,Ward 1
153686,Warm Cool,1,0,0,2,205,36000.0,NaN,NaN,Ward 3
153732,Forced Air,1,0,0,2,145,43500.0,NaN,NaN,Ward 3
153733,Forced Air,1,0,0,2,160,47000.0,NaN,NaN,Ward 3
153744,Forced Air,1,0,0,2,140,45200.0,NaN,NaN,Ward 3
153896,Ht Pump,1,0,1,4,156,50000.0,NaN,NaN,Ward 1
154064,Ht Pump,2,0,2,4,440,34615.0,NaN,NaN,Ward 3
154288,Warm Cool,1,0,0,2,296,39900.0,NaN,NaN,Ward 6
154291,Warm Cool,1,0,0,2,296,33000.0,NaN,NaN,Ward 6
154294,Warm Cool,1,0,0,2,296,50000.0,NaN,NaN,Ward 6
154398,Wall Furnace,1,0,1,3,344,42000.0,NaN,NaN,Ward 6
154402,Wall Furnace,1,0,1,3,197,48950.0,NaN,NaN,Ward 6
154405,Wall Furnace,1,0,1,3,278,31500.0,NaN,NaN,Ward 6
154412,Wall Furnace,1,0,1,3,344,49900.0,NaN,NaN,Ward 6
155042,Forced Air,1,0,1,3,312,36000.0,NaN,NaN,Ward 2
156330,Forced Air,2,0,2,4,167,20000.0,NaN,NaN,Ward 6
156548,Warm Cool,1,0,0,2,226,40000.0,NaN,NaN,Ward 6
156795,Warm Cool,2,1,2,6,1836,17000.0,NaN,NaN,Ward 6
157055,Warm Cool,1,0,1,3,461,49900.0,NaN,NaN,Ward 6
157136,Forced Air,1,1,1,3,11,5643.0,NaN,NaN,Ward 6
157217,Warm Cool,1,0,0,2,332,30500.0,NaN,NaN,Ward 6
157218,Warm Cool,1,0,0,2,332,39000.0,NaN,NaN,Ward 6
157226,Warm Cool,1,0,0,2,344,36000.0,NaN,NaN,Ward 6
157304,Warm Cool,1,0,1,3,458,37000.0,NaN,NaN,Ward 6
158148,Warm Cool,1,0,1,3,467,45000.0,NaN,NaN,Ward 6
158304,Warm Cool,1,0,0,2,226,36000.0,NaN,NaN,Ward 6

In [74]:
nf.loc[nf['PRICE'] <= 20000 ]

,HEAT,BATHRM,HF_BATHRM,BEDRM,ROOMS,LANDAREA,PRICE,STYLE,FULLADDRESS,WARD
25,Hot Water Rad,1,0,4,8,2090,20000.0,2 Story,1451 Q STREET NW,Ward 2
433,Hot Water Rad,3,0,3,11,1190,4500.0,3 Story,1739 U STREET NW,Ward 1
3330,Hot Water Rad,2,1,4,9,1398,936.0,2 Story,615 P STREET NW,Ward 6
4199,Hot Water Rad,1,1,3,6,1360,1377.0,2 Story,1832 13TH STREET NW,Ward 1
4888,Hot Water Rad,1,0,3,6,882,20000.0,2 Story,2250 12TH PLACE NW,Ward 1
5516,Hot Water Rad,2,1,7,15,2031,500.0,3 Story,48 1/2 NEW YORK AVENUE NW,Ward 6
5827,Hot Water Rad,1,1,3,6,756,20000.0,2 Story,335 L STREET NE,Ward 6
7396,Forced Air,3,1,5,10,2030,250.0,2 Story,514 K STREET NE,Ward 6
13179,Hot Water Rad,1,0,3,6,1477,12000.0,2 Story,839 FLORIDA AVENUE NE,Ward 6
13556,Forced Air,1,0,3,6,1167,15000.0,2 Story,764 11TH STREET SE,Ward 6
14041,Hot Water Rad,2,0,2,6,527,250.0,2 Story,821 12TH STREET NE,Ward 6
16109,Forced Air,2,0,3,6,1758,20000.0,2 Story,1427 A STREET SE,Ward 6
16779,Hot Water Rad,1,0,3,6,1116,5000.0,2 Story,104 15TH STREET NE,Ward 6
17936,Hot Water Rad,1,2,4,7,1280,15000.0,2 Story,109 15TH STREET SE,Ward 6
18568,Hot Water Rad,2,1,3,8,2400,10.0,2 Story,3014 Q STREET NW,Ward 2
19109,Forced Air,2,0,6,11,1465,12394.0,2 Story,3138 O STREET NW,Ward 2
26014,Warm Cool,4,1,4,10,8274,12365.0,2 Story,5105 YUMA PLACE NW,Ward 3
42069,Forced Air,3,1,3,8,2700,250.0,3 Story,1431 CLIFTON STREET NW,Ward 1
42205,Forced Air,2,2,4,9,14999,10273.0,2.5 Story Fin,4343 BLAGDEN AVENUE NW,Ward 4
42295,Warm Cool,3,1,4,9,23864,20000.0,1.5 Story Fin,5415 28TH STREET NW,Ward 4
43281,Hot Water Rad,2,0,2,5,1489,250.0,2 Story,1416 OAK STREET NW,Ward 1
44594,Warm Cool,2,1,4,8,6771,4156.0,2.5 Story Fin,7806 13TH STREET NW,Ward 4
44968,Hot Water Rad,2,0,5,11,1644,5247.0,2 Story,1416 NEWTON STREET NW,Ward 1
45044,Warm Cool,3,1,5,10,7876,12261.0,2.5 Story Fin,7960 WEST BEACH DRIVE NW,Ward 4
48414,Forced Air,2,0,5,8,2417,250.0,3 Story,1326 IRVING STREET NW,Ward 1
49321,Forced Air,2,0,6,9,2853,250.0,3 Story,1339 FAIRMONT STREET NW,Ward 1
49443,Hot Water Rad,2,0,2,8,1535,250.0,2 Story,3013 SHERMAN AVENUE NW,Ward 1
49470,Hot Water Rad,2,0,2,6,1587,500.0,2 Story,2821 SHERMAN AVENUE NW,Ward 1
50971,Hot Water Rad,1,0,3,6,2555,250.0,2 Story,1202 LONGFELLOW STREET NW,Ward 4
51658,Hot Water Rad,1,0,3,6,1031,10.0,2 Story,784 LAMONT STREET NW,Ward 1
...,...,...,...,...,...,...,...,...,...,...
133754,Warm Cool,1,0,1,3,234,12000.0,NaN,NaN,Ward 2
133758,Warm Cool,1,0,1,3,217,10000.0,NaN,NaN,Ward 2
133759,Warm Cool,1,0,1,3,211,16000.0,NaN,NaN,Ward 2
133949,Warm Cool,2,1,3,6,723,6950.0,NaN,NaN,Ward 2
134587,Warm Cool,1,0,1,3,252,9000.0,NaN,NaN,Ward 2
134589,Warm Cool,1,0,1,3,217,6000.0,NaN,NaN,Ward 2
136498,Wall Furnace,1,0,0,2,158,15000.0,NaN,NaN,Ward 1
137411,Wall Furnace,0,0,0,0,450,6000.0,NaN,NaN,Ward 1
139424,Wall Furnace,1,0,1,3,235,5400.0,NaN,NaN,Ward 1
141101,Warm Cool,1,0,1,4,168,9200.0,NaN,NaN,Ward 1
141113,Warm Cool,1,0,1,4,168,13500.0,NaN,NaN,Ward 1
141464,Forced Air,2,0,2,4,329,3000.0,NaN,NaN,Ward 4
141760,Ht Pump,1,0,1,3,364,10000.0,NaN,NaN,Ward 5
141763,Ht Pump,1,0,1,3,364,10000.0,NaN,NaN,Ward 5
141928,Forced Air,1,0,1,3,205,20000.0,NaN,NaN,Ward 1
143557,Hot Water Rad,1,0,1,3,504,9000.0,NaN,NaN,Ward 4
144536,Forced Air,1,0,1,3,223,10000.0,NaN,NaN,Ward 1
144565,Ht Pump,1,0,1,3,598,10500.0,NaN,NaN,Ward 4
145733,Forced Air,1,0,2,4,180,13350.0,NaN,NaN,Ward 5
147106,Forced Air,2,0,2,4,165,17000.0,NaN,NaN,Ward 6
148694,Forced Air,1,0,1,3,93,1.0,NaN,NaN,Ward 6
149240,Ht Pump,1,0,1,3,474,20000.0,NaN,NaN,Ward 6
149267,Ht Pump,1,0,1,3,474,19900.0,NaN,NaN,Ward 6
149496,Forced Air,1,0,1,3,132,10000.0,NaN,NaN,Ward 2
151030,Forced Air,1,0,1,3,288,20000.0,NaN,NaN,Ward 3
152131,Hot Water Rad,2,0,3,6,807,1.0,NaN,NaN,Ward 3
153470,Forced Air,1,0,0,2,470,1000.0,NaN,NaN,Ward 3
156330,Forced Air,2,0,2,4,167,20000.0,NaN,NaN,Ward 6
156795,Warm Cool,2,1,2,6,1836,17000.0,NaN,NaN,Ward 6
157136,Forced Air,1,1,1,3,11,5643.0,NaN,NaN,Ward 6

In [75]:
nf_no_missing = nf.dropna()
nf_no_missing.head()

,HEAT,BATHRM,HF_BATHRM,BEDRM,ROOMS,LANDAREA,PRICE,STYLE,FULLADDRESS,WARD
0,Warm Cool,4,0,4,8,1680,1095000.0,3 Story,1748 SWANN STREET NW,Ward 2
2,Hot Water Rad,3,1,5,9,1680,2100000.0,3 Story,1744 SWANN STREET NW,Ward 2
3,Hot Water Rad,3,1,5,8,1680,1602000.0,3 Story,1742 SWANN STREET NW,Ward 2
5,Hot Water Rad,3,2,5,10,2196,1950000.0,4 Story,1709 S STREET NW,Ward 2
7,Hot Water Rad,3,1,4,8,1627,1050000.0,3 Story,1746 1/2 T STREET NW,Ward 2

In [76]:
nf.groupby(['PRICE','BEDRM','BATHRM','HF_BATHRM','HEAT']).mean()

                                                       ROOMS       LANDAREA
PRICE       BEDRM BATHRM HF_BATHRM HEAT
1.0         1     1      0         Forced Air       3.000000      93.000000
            2     2      0         Forced Air       4.000000     280.000000
            3     1      1         Hot Water Rad    7.000000    4400.000000
                  2      0         Hot Water Rad    6.000000     807.000000
            6     3      0         Forced Air      14.000000    7811.000000
10.0        2     1      0         Hot Water Rad    5.000000    1264.000000
            3     1      0         Hot Water Rad    6.000000    1031.000000
                  2      0         Hot Water Rad    8.000000    3323.000000
                         1         Hot Water Rad    8.000000    2400.000000
250.0       2     1      0         Air Exchng       5.000000    2216.000000
                  2      0         Hot Water Rad    6.750000    1147.750000
            3     1      0         Forced Air       7.000000    3325.000000
                                   Gravity Furnac   6.000000    2250.000000
                                   Hot Water Rad    6.000000    2555.000000
                  3      1         Forced Air       8.000000    2700.000000
            5     2      0         Forced Air       8.000000    2417.000000
                  3      0         Hot Water Rad    9.000000    1152.000000
                         1         Forced Air      10.000000    2030.000000
            6     2      0         Forced Air       9.000000    2853.000000
                  5      2         Forced Air      10.000000    2520.000000
500.0       2     2      0         Hot Water Rad    6.000000    1587.000000
            4     2      1         Forced Air       8.000000    1800.000000
                  4      0         Forced Air       8.000000    1170.000000
            7     2      1         Hot Water Rad   15.000000    2031.000000
936.0       4     2      1         Hot Water Rad    9.000000    1398.000000
1000.0      0     1      0         Forced Air       2.000000     470.000000
            1     1      0         Ht Pump          3.000000     907.000000
            3     1      0         Hot Water Rad    6.000000    2539.000000
                         1         Hot Water Rad    6.000000    1115.000000
            4     4      0         Hot Water Rad   16.000000    4224.000000
...                                                      ...            ...
11000000.0  0     0      0         Hot Water Rad    0.000000     817.000000
            4     4      0         Forced Air      16.000000    3810.000000
11111111.0  8     8      2         Hot Water Rad   14.000000   12749.000000
11984000.0  6     6      2         Warm Cool       18.000000    5577.000000
12250000.0  9     12     3         Warm Cool       19.000000   16525.000000
12780000.0  0     1      0         Forced Air       2.000000     174.375000
            1     1      0         Forced Air       3.000000     290.044444
                  2      0         Forced Air       3.000000     378.000000
            2     1      0         Forced Air       4.000000     446.111111
14000000.0  6     5      1         Warm Cool       13.000000   16891.000000
14157126.0  2     2      0         Ht Pump          4.000000     778.000000
            3     2      1         Ht Pump          5.000000    1684.000000
15000000.0  7     11     1         Warm Cool       26.000000   23541.000000
16100000.0  9     9      4         Warm Cool       19.000000   16353.000000
18000000.0  7     9      5         Forced Air      25.000000   35240.000000
22000000.0  9     6      5         Warm Cool       17.000000  155905.000000
23960287.0  12    7      3         Ht Pump         31.000000   68880.000000
25000000.0  0     0      0         No Data          0.000000   21017.000000
25100000.0  0     4      0         Forced Air       5.000000   63109.000000
53696391.0  1     1      0         Forced Air       3.000000     117.000000
53969391.0  0     1      0         Forced Air       2.000000     100.800000
            1     1      0         Forced Air       3.136364     133.772727
            2     2      0         Forced Air       4.055556     214.333333
            3     2      0         Forced Air       5.000000     276.500000
137427545.0 0     1      0         Ht Pump          2.000000     596.694444
            1     1      0         Ht Pump          3.060403     690.006711
                         1         Ht Pump          3.000000     995.000000
                  2      0         Ht Pump          3.857143     307.000000
            2     1      1         Ht Pump          4.000000    1101.000000
                  2      0         Ht Pump          4.153846     360.153846

[52771 rows x 2 columns]

In [77]:
bins = [0,30000,100000,250000,100000000]
group_names = ['Affordable','Mid_range','Expensive','Ridiculous']
nf['Affordability'] = pd.cut(nf['PRICE'], bins, labels=group_names)
nf.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,HEAT,BATHRM,HF_BATHRM,BEDRM,ROOMS,LANDAREA,PRICE,STYLE,FULLADDRESS,WARD,Affordability
0,Warm Cool,4,0,4,8,1680,1095000.0,3 Story,1748 SWANN STREET NW,Ward 2,Ridiculous
1,Warm Cool,3,1,5,11,1680,NaN,3 Story,1746 SWANN STREET NW,Ward 2,NaN
2,Hot Water Rad,3,1,5,9,1680,2100000.0,3 Story,1744 SWANN STREET NW,Ward 2,Ridiculous
3,Hot Water Rad,3,1,5,8,1680,1602000.0,3 Story,1742 SWANN STREET NW,Ward 2,Ridiculous
4,Warm Cool,2,1,3,11,2032,NaN,3 Story,1804 NEW HAMPSHIRE AVENUE NW,Ward 2,NaN

In [82]:
nf.groupby(['Affordability','STYLE']).mean()

                                 BATHRM  HF_BATHRM     BEDRM      ROOMS  \
Affordability STYLE
Affordable    1 Story          1.266667   0.133333  2.200000   5.666667
              1.5 Story Fin    1.750000   0.500000  2.750000   6.250000
              1.5 Story Unfin       NaN        NaN       NaN        NaN
              2 Story          1.761364   0.278409  3.102273   7.125000
              2.5 Story Fin    2.500000   1.250000  4.250000   9.000000
              2.5 Story Unfin  1.000000   0.000000  3.000000   6.000000
              3 Story          2.800000   0.400000  4.266667   9.400000
              3.5 Story Fin         NaN        NaN       NaN        NaN
              3.5 Story Unfin       NaN        NaN       NaN        NaN
              4 Story               NaN        NaN       NaN        NaN
              4.5 Story Fin         NaN        NaN       NaN        NaN
              4.5 Story Unfin       NaN        NaN       NaN        NaN
              Bi-Level              NaN        NaN       NaN        NaN
              Default          2.000000   1.000000  4.000000   6.000000
              Outbuildings          NaN        NaN       NaN        NaN
              Split Foyer           NaN        NaN       NaN        NaN
              Split Level           NaN        NaN       NaN        NaN
              Vacant                NaN        NaN       NaN        NaN
Mid_range     1 Story          1.283237   0.236994  2.450867   5.554913
              1.5 Story Fin    1.296296   0.370370  2.648148   6.351852
              1.5 Story Unfin  1.000000   0.000000  2.333333   5.000000
              2 Story          1.477507   0.288348  2.925147   6.622788
              2.5 Story Fin    1.709677   0.677419  3.516129   7.258065
              2.5 Story Unfin  2.166667   0.333333  3.666667   7.666667
              3 Story          2.415094   0.584906  3.981132   8.632075
              3.5 Story Fin    4.000000   0.000000  4.000000   9.000000
              3.5 Story Unfin       NaN        NaN       NaN        NaN
              4 Story          4.000000   0.000000  3.500000  14.000000
              4.5 Story Fin    1.750000   0.250000  3.000000   8.250000
              4.5 Story Unfin       NaN        NaN       NaN        NaN
...                                 ...        ...       ...        ...
Expensive     3 Story          2.467456   0.696252  3.842209   8.301775
              3.5 Story Fin    2.500000   1.700000  3.200000   8.100000
              3.5 Story Unfin  3.000000   0.000000  4.000000   7.000000
              4 Story          2.500000   0.500000  3.500000  10.166667
              4.5 Story Fin         NaN        NaN       NaN        NaN
              4.5 Story Unfin       NaN        NaN       NaN        NaN
              Bi-Level              NaN        NaN       NaN        NaN
              Default          1.400000   1.000000  3.400000   6.800000
              Outbuildings          NaN        NaN       NaN        NaN
              Split Foyer      1.744186   0.813953  3.255814   6.976744
              Split Level      2.222222   0.666667  3.555556   7.555556
              Vacant                NaN        NaN       NaN        NaN
Ridiculous    1 Story          2.244983   0.408863  3.309365   6.897157
              1.5 Story Fin    2.374092   0.438257  3.558111   7.315981
              1.5 Story Unfin  2.411765   0.264706  3.205882   7.441176
              2 Story          2.207026   0.684803  3.346704   7.304360
              2.5 Story Fin    3.202636   1.018946  4.467326   9.190005
              2.5 Story Unfin  2.373832   0.850467  3.685358   7.778816
              3 Story          3.075483   0.879026  4.197866   8.894525
              3.5 Story Fin    3.319444   1.194444  4.291667   9.027778
              3.5 Story Unfin  4.000000   1.000000  5.750000  11.000000
              4 Story          3.605381   1.103139  4.506726  10.448430
              4.5 Story Fin    4.000000   1.000000  4.000000  14.000000
              4.5 Story Unfin  2.500000   0.500000  3.500000   7.500000
              Bi-Level         2.375000   0.375000  3.250000   7.000000
              Default          1.823529   1.058824  2.882353   6.647059
              Outbuildings          NaN        NaN       NaN        NaN
              Split Foyer      2.069444   0.680556  3.375000   7.361111
              Split Level      2.730769   0.653846  3.676923   8.107692
              Vacant           3.000000   1.000000  4.500000   7.500000

                                  LANDAREA         PRICE
Affordability STYLE
Affordable    1 Story          5386.266667  2.199120e+04
              1.5 Story Fin    9226.000000  2.167500e+04
              1.5 Story Unfin          NaN           NaN
              2 Story          2457.409091  1.816479e+04
              2.5 Story Fin    9112.500000  1.292250e+04
              2.5 Story Unfin  5415.000000  2.429400e+04
              3 Story          2274.066667  1.286860e+04
              3.5 Story Fin            NaN           NaN
              3.5 Story Unfin          NaN           NaN
              4 Story                  NaN           NaN
              4.5 Story Fin            NaN           NaN
              4.5 Story Unfin          NaN           NaN
              Bi-Level                 NaN           NaN
              Default          5292.000000  2.889700e+04
              Outbuildings             NaN           NaN
              Split Foyer              NaN           NaN
              Split Level              NaN           NaN
              Vacant                   NaN           NaN
Mid_range     1 Story          5560.965318  7.341282e+04
              1.5 Story Fin    4986.666667  7.667535e+04
              1.5 Story Unfin  4627.666667  4.666667e+04
              2 Story          2347.893805  7.828559e+04
              2.5 Story Fin    4041.967742  7.680665e+04
              2.5 Story Unfin  4154.166667  6.943333e+04
              3 Story          1736.188679  7.599009e+04
              3.5 Story Fin    1935.000000  9.000000e+04
              3.5 Story Unfin          NaN           NaN
              4 Story          2577.500000  7.040000e+04
              4.5 Story Fin    2096.250000  6.778075e+04
              4.5 Story Unfin          NaN           NaN
...                                    ...           ...
Expensive     3 Story          1860.412229  1.780507e+05
              3.5 Story Fin    1682.300000  1.477295e+05
              3.5 Story Unfin  1241.000000  1.950000e+05
              4 Story          2662.333333  2.006667e+05
              4.5 Story Fin            NaN           NaN
              4.5 Story Unfin          NaN           NaN
              Bi-Level                 NaN           NaN
              Default          4217.400000  1.941172e+05
              Outbuildings             NaN           NaN
              Split Foyer      4716.627907  1.757593e+05
              Split Level      6163.037037  2.012815e+05
              Vacant                   NaN           NaN
Ridiculous    1 Story          6730.632943  6.179966e+05
              1.5 Story Fin    6040.481840  6.200460e+05
              1.5 Story Unfin  6759.617647  7.919388e+05
              2 Story          2892.671476  6.344426e+05
              2.5 Story Fin    6450.993136  1.168640e+06
              2.5 Story Unfin  5088.074766  7.040025e+05
              3 Story          2289.272746  1.049177e+06
              3.5 Story Fin    2028.583333  1.462008e+06
              3.5 Story Unfin  3625.500000  2.900055e+06
              4 Story          2204.825112  1.615018e+06
              4.5 Story Fin    2500.000000  2.500000e+06
              4.5 Story Unfin  1913.000000  3.949500e+05
              Bi-Level         5863.000000  7.109375e+05
              Default          4193.235294  1.121649e+06
              Outbuildings             NaN           NaN
              Split Foyer      5364.388889  3.780917e+05
              Split Level      7508.892308  6.983818e+05
              Vacant           7998.000000  9.600000e+05

[72 rows x 6 columns]

In [81]:
nf.groupby(['STYLE','Affordability']).mean()

                                 BATHRM  HF_BATHRM     BEDRM      ROOMS  \
STYLE           Affordability
1 Story         Affordable     1.266667   0.133333  2.200000   5.666667
                Mid_range      1.283237   0.236994  2.450867   5.554913
                Expensive      1.495130   0.342532  2.740260   5.974026
                Ridiculous     2.244983   0.408863  3.309365   6.897157
1.5 Story Fin   Affordable     1.750000   0.500000  2.750000   6.250000
                Mid_range      1.296296   0.370370  2.648148   6.351852
                Expensive      1.529197   0.383212  3.036496   6.598540
                Ridiculous     2.374092   0.438257  3.558111   7.315981
1.5 Story Unfin Affordable          NaN        NaN       NaN        NaN
                Mid_range      1.000000   0.000000  2.333333   5.000000
                Expensive      1.294118   0.411765  2.588235   5.823529
                Ridiculous     2.411765   0.264706  3.205882   7.441176
2 Story         Affordable     1.761364   0.278409  3.102273   7.125000
                Mid_range      1.477507   0.288348  2.925147   6.622788
                Expensive      1.627271   0.462891  3.045516   6.854561
                Ridiculous     2.207026   0.684803  3.346704   7.304360
2.5 Story Fin   Affordable     2.500000   1.250000  4.250000   9.000000
                Mid_range      1.709677   0.677419  3.516129   7.258065
                Expensive      2.123457   0.728395  3.897119   8.049383
                Ridiculous     3.202636   1.018946  4.467326   9.190005
2.5 Story Unfin Affordable     1.000000   0.000000  3.000000   6.000000
                Mid_range      2.166667   0.333333  3.666667   7.666667
                Expensive      1.596154   0.769231  3.384615   7.653846
                Ridiculous     2.373832   0.850467  3.685358   7.778816
3 Story         Affordable     2.800000   0.400000  4.266667   9.400000
                Mid_range      2.415094   0.584906  3.981132   8.632075
                Expensive      2.467456   0.696252  3.842209   8.301775
                Ridiculous     3.075483   0.879026  4.197866   8.894525
3.5 Story Fin   Affordable          NaN        NaN       NaN        NaN
                Mid_range      4.000000   0.000000  4.000000   9.000000
...                                 ...        ...       ...        ...
4.5 Story Fin   Expensive           NaN        NaN       NaN        NaN
                Ridiculous     4.000000   1.000000  4.000000  14.000000
4.5 Story Unfin Affordable          NaN        NaN       NaN        NaN
                Mid_range           NaN        NaN       NaN        NaN
                Expensive           NaN        NaN       NaN        NaN
                Ridiculous     2.500000   0.500000  3.500000   7.500000
Bi-Level        Affordable          NaN        NaN       NaN        NaN
                Mid_range           NaN        NaN       NaN        NaN
                Expensive           NaN        NaN       NaN        NaN
                Ridiculous     2.375000   0.375000  3.250000   7.000000
Default         Affordable     2.000000   1.000000  4.000000   6.000000
                Mid_range           NaN        NaN       NaN        NaN
                Expensive      1.400000   1.000000  3.400000   6.800000
                Ridiculous     1.823529   1.058824  2.882353   6.647059
Outbuildings    Affordable          NaN        NaN       NaN        NaN
                Mid_range      0.000000   0.000000  0.000000   1.000000
                Expensive           NaN        NaN       NaN        NaN
                Ridiculous          NaN        NaN       NaN        NaN
Split Foyer     Affordable          NaN        NaN       NaN        NaN
                Mid_range      1.625000   0.875000  3.125000   7.000000
                Expensive      1.744186   0.813953  3.255814   6.976744
                Ridiculous     2.069444   0.680556  3.375000   7.361111
Split Level     Affordable          NaN        NaN       NaN        NaN
                Mid_range      3.000000   0.000000  3.000000   6.000000
                Expensive      2.222222   0.666667  3.555556   7.555556
                Ridiculous     2.730769   0.653846  3.676923   8.107692
Vacant          Affordable          NaN        NaN       NaN        NaN
                Mid_range           NaN        NaN       NaN        NaN
                Expensive           NaN        NaN       NaN        NaN
                Ridiculous     3.000000   1.000000  4.500000   7.500000

                                  LANDAREA         PRICE
STYLE           Affordability
1 Story         Affordable     5386.266667  2.199120e+04
                Mid_range      5560.965318  7.341282e+04
                Expensive      4817.972403  1.780950e+05
                Ridiculous     6730.632943  6.179966e+05
1.5 Story Fin   Affordable     9226.000000  2.167500e+04
                Mid_range      4986.666667  7.667535e+04
                Expensive      5081.416058  1.712461e+05
                Ridiculous     6040.481840  6.200460e+05
1.5 Story Unfin Affordable             NaN           NaN
                Mid_range      4627.666667  4.666667e+04
                Expensive      4876.352941  1.628118e+05
                Ridiculous     6759.617647  7.919388e+05
2 Story         Affordable     2457.409091  1.816479e+04
                Mid_range      2347.893805  7.828559e+04
                Expensive      2569.424333  1.738270e+05
                Ridiculous     2892.671476  6.344426e+05
2.5 Story Fin   Affordable     9112.500000  1.292250e+04
                Mid_range      4041.967742  7.680665e+04
                Expensive      4436.934156  1.898697e+05
                Ridiculous     6450.993136  1.168640e+06
2.5 Story Unfin Affordable     5415.000000  2.429400e+04
                Mid_range      4154.166667  6.943333e+04
                Expensive      4742.615385  1.776757e+05
                Ridiculous     5088.074766  7.040025e+05
3 Story         Affordable     2274.066667  1.286860e+04
                Mid_range      1736.188679  7.599009e+04
                Expensive      1860.412229  1.780507e+05
                Ridiculous     2289.272746  1.049177e+06
3.5 Story Fin   Affordable             NaN           NaN
                Mid_range      1935.000000  9.000000e+04
...                                    ...           ...
4.5 Story Fin   Expensive              NaN           NaN
                Ridiculous     2500.000000  2.500000e+06
4.5 Story Unfin Affordable             NaN           NaN
                Mid_range              NaN           NaN
                Expensive              NaN           NaN
                Ridiculous     1913.000000  3.949500e+05
Bi-Level        Affordable             NaN           NaN
                Mid_range              NaN           NaN
                Expensive              NaN           NaN
                Ridiculous     5863.000000  7.109375e+05
Default         Affordable     5292.000000  2.889700e+04
                Mid_range              NaN           NaN
                Expensive      4217.400000  1.941172e+05
                Ridiculous     4193.235294  1.121649e+06
Outbuildings    Affordable             NaN           NaN
                Mid_range      3850.000000  5.613000e+04
                Expensive              NaN           NaN
                Ridiculous             NaN           NaN
Split Foyer     Affordable             NaN           NaN
                Mid_range      4694.750000  7.927238e+04
                Expensive      4716.627907  1.757593e+05
                Ridiculous     5364.388889  3.780917e+05
Split Level     Affordable             NaN           NaN
                Mid_range      8993.000000  7.250000e+04
                Expensive      6163.037037  2.012815e+05
                Ridiculous     7508.892308  6.983818e+05
Vacant          Affordable             NaN           NaN
                Mid_range              NaN           NaN
                Expensive              NaN           NaN
                Ridiculous     7998.000000  9.600000e+05

[72 rows x 6 columns]